
.story {
	font-family: "Courier New";
}



.resultContainer {
	position:relative;
	clear: both;
	margin: 10px 0;
	padding: 1%;
	width: 98%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}



.errorContainer {
	position:relative;
	clear: both;
	margin: 10px 0;
	padding: 1%;
	width: 98%;
	border: 1px solid #d7d7d7;
	background: #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.error {
	position:relative;
	clear: both;
	padding: 1%;
	width: 98%;
	color: #c50707;
	border: 1px solid #d7d7d7;
	background: #f5e9e9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.errorTrace {
	position:relative;
	clear: both;
	padding: 1%;
	width: 98%;
	color: #c50707;
	border: 1px solid #d7d7d7;
	background: #f5e9e9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: none;
}

.sthReallyBad {
	color: #c50707;
	font-size: 24px;
}



.testResult {
	position:relative;
	clear: both;
	margin: 30px 0;
	padding: 1%;
	width: 98%;
	border: 1px solid #d7d7d7;
	background: #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

